*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    background: #FF5959;
    color: white;
    border: 2px solid transparent;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn:hover{
    color: #FF5959;
    background: rgba(255, 255, 255, 0.377);
    border: 2px solid white;
}
/* Banner Section style */
.banner-section{
    background: url("./assets/images/donation13.jpg") no-repeat,
    linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.87));
    background-blend-mode: overlay;
    background-size: cover;
    width: 1450px;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.banner-content{
    text-align: center;
}
.banner-content h1{
    font-size: 70px;
    margin-bottom: 10px;
}
.banner-content p{
    font-size: 20px;
    margin-bottom: 50px;
    line-height: 30px;
}
