*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    background: #FF5959;
    color: white;
    border: 2px solid transparent;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.btn:hover{
    color: #FF5959;
    background: rgba(255, 255, 255, 0.377);
    border: 2px solid white;
}
.section-title{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center;
}
.description{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
/* Banner Section style */
.banner-section{
    background: url("./assets/images/donation13.jpg") no-repeat,
    linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.925));
    background-blend-mode: overlay;
    background-size: cover;
    width: 99.1vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.banner-content{
    text-align: center;
}
.banner-content h1{
    font-size: 80px;
    margin-bottom: 10px;
}
.banner-content p{
    font-size: 25px;
    margin-bottom: 50px;
    line-height: 40px;
}
/* main section style */
.main-section{
    width: 1400px;
    margin: 0 auto;
}
/* donate today section style */
.donate-todey{
    text-align: center;
    margin: 100px 0;
}
.dt-boxs{
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 200px;
    margin: 50px 0 0 0; 
}
.dt-boxs .box{
   width: 150px;
   height: 150px;
   background: #e9e9e9;
   border-radius: 6px; 
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid transparent;
}
.dt-boxs .box:hover{
    border: 2px solid #FF5959;
    background: #ff59591e;
}
.dt-boxs .box h3{
    font-size: 35px;
    font-weight: bold;
    color: #929292;
}
.dt-boxs .box:hover h3{
    color: #FF5959;
}
.amount{
    width: 990px;
    margin: auto;
    border-bottom: 2px solid #e9e9e9;
    margin-bottom: 50px;
}
.amount-p{
    color: #929292;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}
.dt-btn:hover{
    border: 2px solid #FF5959;
}

/* Donate Plan Style */
.donate-plan{
    margin: 200px 0 100px 0;
}
.dp-boxes{
    display: flex;
    gap: 4rem;
    margin: 60px 0 100px 0;
}
.dp-box{
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 0px 19px 17px 0px #0000001a;
}
.dp-box:hover{
    box-shadow: 0px 19px 17px 0px #0000003f;
}
.dp-box img{
    margin-bottom: 25px;
}
.dp-box h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.dp-box p{
    color: #929292;
    font-size: 20px;
}
.dp-box-1{
    background: #EDF5F6;
}
.dp-box-2{
    background: #FFEEEE;
}
.dp-box-3{
    background: #FFF4D6;
}

/* Blog Section Style */
.blog-1{
    display: flex;
    gap: 5rem;
    margin: 200px 0;
}
.img-box img{
    width: 700px;
    border-radius: 10px;
}
.blog-2{
    display: flex;
    gap: 5rem;
    margin: 200px 0;
}
.img-box img{
    width: 700px;
    border-radius: 10px;
}

/* Contact Section Style */
.contact-section{
    margin: 100px 0;
}
.form{
    background: #FFF4D6;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 100px 0;
    border-radius: 10px;
}
.form .email{
    background: #c5c5c5;
    border: none;
    font-size: 15px;
    padding: 10px 10px;
    width: 300px;
    height: 50px;
    border-radius: 5px 0 0 5px;
}
   
.form .sub-btn{
    background: #FF5959;
    border: none;
    font-size: 15px;
    padding: 10px 10px;
    color: white;
    margin-left: -5px;
    width: 130px;
    height: 50px;
    border-radius: 0 5px 5px 0;
    border: 2px solid transparent;
}
.form .sub-btn:hover{
   background: white;
   border: 2px solid #FF5959;
   color: #FF5959;
}

/* footer section */
.footer{
    width: 100%;
    background: #000;
    text-align: center;
    padding: 50px 00;
}
.footer h2{
    color: #FF5959;
    margin-bottom: 40px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
.footer h5{
    color: white;
    font-size: 20px;
} 